.contenedor {
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column; 
    /* overflow:auto; */
}
.content {
    width: 100%;
}
.flex {
    /* border: 5px solid blue; */
    display: flex;
    /* position: relative; */
    height: 87vh;
    
}

.content {
    /* border: 5px solid palevioletred; */
    /* margin-top: 5%; */
    /* border: 5px solid forestgreen; */
    max-width: 100%;
    height: 98%;
    /* background: linear-gradient(white 0%, #e6e4ff 70%); */
    background-color: #f7f6ff;
    margin-left: 20px;
    overflow: auto;
}