

.contenedor-general {
    /* border: 2px solid orange; */
    background-image: url("../assets/images/bg.jpg");
    /* background-color: #A8A3AE; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contenedor-log-reg {
    border-radius: 10px;
    /* border: 5px solid #fff; */
    font-size: 22px;  /*eso determina el tamaño de letra total para em */
    /* border: 2px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 18.75em; /*300px*/
    background-color: #f5f5f5;
    /* box-shadow: 5px 5px 10px 5px #ccc; */
}

.tab-header{
    height: 3.125em; /*50px*/
    line-height: 3.125em;
}

.tab-header > div{
    width: 100%;
    float: left;
    text-align: center;
    background-color: #aaa;
    color: #333;
    cursor: pointer;
}

.tab-header > div.active {
    background-color: #f5f5f5;
    color: #0e4a72;
    font-weight: 700;
}

.tab-content{
    padding: 1.25em; /*20px*/
    background-color: #ddd;
}

.tab-content > div.active {
    display: block;
}

.tab-content > div {
    display: none;
}

#emailHelp {
    font-size: 0.7em;
}

.contenedor-log-reg > .tab-content input {
    font-size: 0.95em;
}

.contenedor-log-reg > .tab-content select {
    font-size: 0.95em;
}

.contenedor-log-reg > .tab-content label{
    font-size: 1.0em;
}

.tab-imagenes {
    /* border: 1px solid blue; */
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.3rem; /*10px*/
}

.tab-imagenes img{
    /* border: 1px solid blue; */
    width: 4.5em; /*120px*/
    height: 4.5em;
}


/* estilo 3d boton */
.pushable {
  background-color: #074297;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 8px 30px;
  border-radius: 12px;
  font-size: 1.55rem;
  background-color: #0d6efd;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}