.navbar{
    padding: 1rem 2rem;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .texto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .texto h4 {
    margin: 0 1rem;
}