.sidebar {
    margin-top: -55px;
    margin-left: 15px;
    background-color: var(--sidebar-bg);
    min-width: 15rem;

    /* min-width: 17rem; */
    height: 106%;
    border-radius: 30px;
    
    /* border: 5px solid red; */
}

.sidebar__logo {
    padding-top: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo > img {
    height: 150px;
}

.sidebar .user_name p {
    font-size: 20px;
    margin-top: 5px;
    /* border: 1px solid yellow; */
    text-align: center;
    color: white;
}
.sidebar .user_carga p {
    font-weight: 600;
    background-color: #f4ad2f;
    margin: 5px 50px;
    padding: 5px;
    border-radius: 20px;
    /* border: 3px solid palevioletred; */
    color: black;
    text-align: center;
}

.sidebar__links {
    /* border: 12px solid yellow; */
    margin-top: 25px;
    width: 100%;
    height: 60%;
    background-color: var(--sidebar-links-bg);
    border-radius: 30px;
}

.sidebar__links a {
    display: block;
    /* border: 1px solid greenyellow; */
    text-decoration: none;
    padding: 15px 30px;
    color: var(--txt-color-side);
}

.sidebar__links a.active {
    color: var(--txt-color-side-active);
    font-weight: 700;
    /* background-color: greenyellow; */
}

.sidebar__links a span {
    margin-left: 10px;
}


