.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);

    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-modal {
    width: 500px;
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100,100,111, 0.2) 0px  7px 29px 0px;
    padding: 20px;
}

.btn-cerrar {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: black;

}
.btn-cerrar:hover{
    background: #f2f2f2;
}


/* MODEL CURSOS */

/* .form-curso div {
    display: grid;
    
} */


/* .main-cursos {

} */